<div class="display">
    <div class="return">
        <span class="home" (click)="Home()">Home </span>
        <span class="mypage"> / My Cart</span>
    </div>

    <div class="card-out">
        <div class="cards">
            <div class="bookDetails">
                <mat-card class="book-card">
                    <div class="book-card-title">
                        <mat-card-title class="myCart">My Cart({{allCartBooks.length}})</mat-card-title>
                        <mat-card-actions>
                            <span class="cart-Address">BridgeLabz Solutions LLP, No...</span>
                        </mat-card-actions>
                    </div>
                    <div class="book-info" *ngFor="let book of allCartBooks;
                    let i = index">
                        <div class="book-img">
                            <img mat-card-image src="../../../assets/book_imgs/Image 11@2x.png" alt="">
                        </div>
                        <div>
                            <mat-card-title class="bookTitle">
                                <span>{{book.product_id.bookName}}</span>
                            </mat-card-title>
                            <mat-card-content class="details">
                                <span class="author">{{book.product_id.author}}</span>
                                <h1>Rs.{{book.product_id.price}}</h1>
                            </mat-card-content>
                            <div class="books-Qty">
                                <button class="Qty-btn" [disabled]="bookCount === 1"
                                    (click)=" decrease(book._id,book.quantityToBuy)">-</button>
                                <div class="qty">{{book.quantityToBuy}}</div>
                                <button class="Qty-btn" (click)="increase(book._id,book.quantityToBuy)">+</button>
                                <span class="remove" (click)="remove(i)">Remove</span>
                            </div>
                        </div>
                    </div>
                    <mat-card-actions class="order-btn" *ngIf="!hide">
                        <span class="placeorder" (click)="placeOrder()">Place Order</span>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="Address">
                <mat-accordion class="exp-panel-closed">
                    <mat-expansion-panel class="exp-panel" hideToggle [expanded]="step >= 1"
                        (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header class="exp-panel-header">
                            <mat-panel-title>
                                {{panelOpenState ? 'Address Details' : 'Address Details'}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <div class="order-header">
                                <span class="customer-title">Customer Details</span>
                                <span class="new-address">Add New Address</span>
                            </div>
                            <div class="input-details">
                                <div class="input-div1">
                                    <div class="input-sec">
                                        <mat-label>Full Name</mat-label>
                                        <input matInput class="input" type="text" name="fullname" [(ngModel)]="name"
                                            required>
                                    </div>

                                    <div class="input-sec">
                                        <mat-label>Mobile number</mat-label>
                                        <input matInput class="input" type="text" name="mobilenumber"
                                            [(ngModel)]="mobile" required>
                                    </div>
                                </div>
                                <div class="Address-input-div">
                                    <mat-label>Address</mat-label>
                                    <input matInput class="Address-input" type="text" [(ngModel)]="address" required>
                                </div>
                                <div class="input-div1">
                                    <div class="input-sec">
                                        <mat-label>city/town</mat-label>
                                        <input matInput class="input" type="text" name="fullname" [(ngModel)]="city"
                                            required>
                                    </div>

                                    <div class="input-sec">
                                        <mat-label>State</mat-label>
                                        <input matInput class="input" type="text" name="mobilenumber"
                                            [(ngModel)]="state" required>
                                    </div>
                                </div>
                                <div>
                                    <mat-label id="adddressType">Type</mat-label>
                                    <div aria-labelledby="addressType" class="radio-div">
                                        <mat-radio-button class="radio-btn" value="1" (change)="radioout1()">Home
                                        </mat-radio-button>
                                        <mat-radio-button class="radio-btn" value="2" (change)="radioout1()">Work
                                        </mat-radio-button>
                                        <mat-radio-button class="radio-btn" value="3">other
                                        </mat-radio-button>
                                    </div>
                                </div>
                                <div class="continue-div" *ngIf="!show">
                                    <span class="continue-btn">Continue</span>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="Order">
                <mat-accordion class="exp-panel-closed">
                    <mat-expansion-panel hideToggle [expanded]="step === 2" class="exp-panel">
                        <mat-expansion-panel-header class="exp-panel-header">
                            <mat-panel-title>
                                Order summery
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="bookDetail">
                            <mat-card class="order-card">
                                <div class="book-info" *ngFor="let book of allCartBooks">
                                    <div class="book-img">
                                        <img mat-card-image src="../../../assets/book_imgs/Image 11@2x.png" alt="">
                                    </div>
                                    <div>
                                        <mat-card-title class="bookTitle">
                                            <span>{{book.product_id.bookName}}</span>
                                        </mat-card-title>
                                        <mat-card-content class="details">
                                            <span class="author">{{book.product_id.author}}</span>
                                            <span class="price-Qty">
                                                <h1>Rs.{{book.product_id.price}}</h1>
                                                <h4>X{{book.quantityToBuy}}</h4>
                                            </span>
                                        </mat-card-content>
                                    </div>
                                </div>
                                <div class="total">Total: Rs.{{totalAmount}}</div>
                                <mat-card-actions class="order-btn">
                                    <span class="placeorder">CheckOut</span>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>