<div >
    <div class="display">
        <div class="img-div">
            <img src="../../../assets/placeorder.png" alt="Order SuccessFull!!">
        </div>
        <div class="msg-div">
            <span class="msg">  
                <p>hurray!!! your order is confirmed</p>
                <p>the order id is #{{orderId}} save the order id for</p>
                <p>further communication..</p>
            </span>
        </div>
        <div class="table-div">
            <div class="table-header">
                <span>Email us</span>
                <span >Contact us</span>
                <span>Address</span>
            </div>
            <div class="table-data">
                <span class="text-info"> admin@bookstore.com</span>
                <mat-divider [vertical]="true"></mat-divider>
                <span class="text-info">+91 8163475881</span>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="address">
                    <span class="text-2">42, 14th Main, 15th Cross,Sector 4, opp to </span>
                    <span >BDA complex, near Kumarakom restaurant,</span>
                    <span > HSR Layout,Bangalore 560034</span>
                </div> 
            </div> 
        </div>
        <div>
            <button mat-raised-button color="primary" routerLink="/home">Continue Shopping</button>
        </div>
    </div>
</div>