<div class="display">
    <div class="return">
        <span class="home" (click)="Home()">Home </span>
        <span class="mypage"> / My Wishlist</span>
    </div>
    <div class="list">
        <div class="card-div">
            <span class="list-title">Wishlist ({{whishlistBooks.length}})</span> 
        </div>
        <div class="card-div" *ngFor="let book of whishlistBooks; let i = index">
            <mat-card class="card">
                <div class="book-info">
                    <div class="book-img">
                        <img class="book" mat-card-image src="../../../assets/book_imgs/Image 11@2x.png" alt="">
                    </div>
                    <div>
                        <mat-card-title class="bookTitle">
                                <span>{{book.product_id?.bookName}}</span>
                        </mat-card-title>
                        <mat-card-content class="details">
                            <span class="author">{{book.product_id?.author}}</span>
                            <h1>Rs.{{book.product_id.price}}</h1>
                        </mat-card-content>
                    </div>
                </div>
                <mat-card-actions class="order-btn">
                    <span class="side" (click)="remove(i)">
                        <img class="side-btn" src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg">
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>