<div class="display">
    <div class="header">
        <div>
            <span class="book-count">
                <h3>Books</h3>
                <h6>({{AllBooks?.length}}items)</h6>
            </span>
        </div>
        <div>
            <select class="sort" (click)="sort($event)">
                <option>Sort by relevance</option>
                <option value="lowtohigh">Price : Low To High</option>
                <option value="hightolow">Price : High To Low</option>
                <option>Newest Arrivals</option>
            </select>
        </div>
    </div>

    <div class="allBooks">
        <div class="bookData">
            <mat-card class="book-card" *ngFor="let book of  AllBooks | searchBook:Searchbookdetails| sort:sortBooks  | paginate: { itemsPerPage: 8, currentPage: page }" 
            >
                <div class="book-img" (click)="viewBookDetails(book)">
                    <img mat-card-image src="../../../assets/book_imgs/Image 11@2x.png" alt="">
                </div>
                <div>
                    <mat-card-title class="bookTitle">
                        <span>{{book.bookName}}</span>
                    </mat-card-title>
                    <mat-card-content class="details">
                        <span class="author">{{book.author}}</span>
                        <div class="rating-div">
                            <span class="rating">4.5</span>
                            <span>
                                <h6>(20)</h6>
                            </span>
                        </div>
                        <h1>Rs.{{book.price}}</h1>
                        <!-- <div class="btns">
                            <button mat-flat-button (click)="AddToCart(book._id)" style="background: #A03037;color: #ffff;width: 120px;">Add To Bag </button>
                            
                            <button mat-flat-button (click)="AddToWhishlist(book._id)" style="background: black;color: #ffff;width: 120px;">wishlist </button>
                        </div> -->
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<footer class="page-div">
    <div class="page">
        <pagination-controls (pageChange)="page = $event">
        </pagination-controls>
    </div>
</footer>
