<div class="login-page" [ngStyle]="bgColor ? {'background-color': '#707070'} : {'background-color': '#707070'}">
    <div class="empty-div"></div>
        <div class="login-content">
            <div class="img-div">
                <mat-card class="img-card">
                    <mat-card-content class="img-content">
                        <img src="../../../assets/2766594@2x.png" alt="img1">
                    </mat-card-content>
                    <mat-card-content class="tile-name">Online Book Shopping</mat-card-content>
                </mat-card>
            </div>
    
            <div class="user-details">
                <mat-card class="details-card">
                    <mat-card-title class="mobile-title">Online Book Shopping</mat-card-title>
                    <mat-tab-group (click)="loginBgColor()">
                        <mat-tab label="Login" class="login-tab" (click)="loginBgColor()">
                            <mat-card>
                                <form class="input-div" [formGroup]="loginForm">
                                    <div class="input-details">
                                        <mat-form-field class="mat-outline-user" appearance="outline">
                                            <mat-label>email</mat-label>
                                            <input matInput placeholder="email" type="email" formControlName="email" required>
                                            <mat-error>email is required</mat-error>
                                        </mat-form-field>
    
                                        <mat-form-field class="mat-outline" appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="password" formControlName="password" required>
                                            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
                                            <mat-error>password is required</mat-error>
                                        </mat-form-field>
    
                                        <div class="login-btns">
                                            <mat-slide-toggle (change)="changeUser()">Login as Admin</mat-slide-toggle>

                                        <button mat-flat-button class="submitbtn" (click)="login()" style="background: #A03037;color:#fff">Login</button>
                                        </div>
                                    </div>
                                    <mat-card-actions class="login-buttons">
                                        <button mat-flat-button color="primary">facebook</button>
                                        <button mat-stroked-button>google</button>
                                    </mat-card-actions>
                                </form>
                            </mat-card>
                        </mat-tab>
    
                        <mat-tab label="Signup" class="Signup-tab" (click)="signupBgColor()">
                            <mat-card>
                                <form class="input-div2" [formGroup]="signupForm">
                                    <div class="input-details">
                                        <mat-form-field class="mat-outline" appearance="outline">
                                            <mat-label>Full Name</mat-label>
                                            <input matInput placeholder="Full Name" formControlName="name">
                                            <mat-error>Name is required</mat-error>
                                        </mat-form-field>
    
                                        <mat-form-field class="mat-outline-user" appearance="outline">
                                            <mat-label>email</mat-label>
                                            <input matInput placeholder="email" type="email" formControlName="email" required>
                                            <mat-error>email is required</mat-error>
                                        </mat-form-field>
    
                                        <mat-form-field class="mat-outline" appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="password" formControlName="password" required>
                                            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
                                            <mat-error>password is required</mat-error>
                                        </mat-form-field>
    
                                        <mat-form-field class="mat-outline" appearance="outline">
                                            <mat-label>Mobile Number</mat-label>
                                            <input matInput placeholder="Mobile Number" formControlName="number">
                                            <mat-error>Mobile Number is required</mat-error>
                                        </mat-form-field>

                                        <mat-slide-toggle (change)="changeUser()">Register as Admin</mat-slide-toggle>
                                        <button mat-flat-button class="submitbtn" (click)="signup()"  style="background: #A03037; color:#fff">Signup</button>
                                    </div>
                                </form>
                            </mat-card>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>

    </div>
</div>